<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="../../static/adminResources/image/logo-icon.png" class="logo-icon-2" alt=""/>
        </div>
        <div>
            <h4 class="logo-text">Expression Detection</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ms-auto"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>

            <a href="javascript:;" class="has">
                <a href="/">
                    <div class="parent-icon icon-color-1"><i class="bx bx-home-alt"></i>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a></a>
        <li>
            <a class="has-arrow" href="javascript:;" id="manage_branch">
                <div class="parent-icon icon-color-9"><i class="lni lni-apartment"></i>
                </div>
                <div class="menu-title">Manage Branch</div>
            </a>
            <ul>
                <li><a href="/addbranch"><i class="bx bx-right-arrow-alt"></i>Add Branch</a>
                </li>
                <li><a href="/viewbranch"><i class="bx bx-right-arrow-alt"></i>View Branch</a>
                </li>
            </ul>
        </li>
        <li>
        <li>
            <a class="has-arrow" href="javascript:;" id="manage_camera">
                <div class="parent-icon icon-color-9"><i class="lni lni-camera"></i>
                </div>
                <div class="menu-title">Manage Camera</div>
            </a>
            <ul>
                <li><a href="/loadcamera"><i class="bx bx-right-arrow-alt"></i>Add Camera</a>
                </li>
                <li><a href="/viewcamera"><i class="bx bx-right-arrow-alt"></i>View Camera</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;" id="detection">
                <div class="parent-icon icon-color-9"><i class="lni lni-display"></i>
                </div>
                <div>Detection</div>
            </a>
            <ul>
                <li><a href="/addDetection"><i class="bx bx-right-arrow-alt"></i>Add Detection</a>
                </li>
                <li><a href="/viewDetection"><i class="bx bx-right-arrow-alt"></i>View Detection</a>
                </li>
            </ul>
        </li>
    </ul>
    <!--end navigation-->
</div>
